
@{
    ViewBag.Title = "Ajax_New";
}

<div>
    <nav>
        <a class="navlink" href="/Student/List">Back To Students</a>
    </nav>
    <h2>Ajax_New</h2>

    @{
        /* AJAX Request to add a student */
        /* No form submission needed */
        /* button onclick will handle form submission */
        /* Each item has an ID for validation && ajax submission */
    }

    <div class="s_input">
        <label for="StudentId">Student ID: </label>
        <input type="text" id="studentid" name="studentid" />
    </div>

    <div class="s_input">
        <label for="StudentFName">First Name: </label>
        <input type="text" id="studentfname" name="studentfname" />
    </div>

    <div class="s_input">
        <label for="StudentLName">Last Name: </label>
        <input type="text" id="studentlname" name="studentlname" />
    </div>

    <div class="s_input">
        <label for="StudentNumber">Student #: </label>
        <input type="text" id="studentnumber" name="studentnumber" />
    </div>

    @{
        //AddTeacher() is a JS method defined in /Scripts/student.js
    }

    <button onclick="AddStudent();">Add Student</button>

</div>